@use './common' as *;
@use './mixin' as *;
@use './variable' as *;

#brand{
    background-color: #fff;
    display: flex;
    justify-content: center;
}
@include mobile{
    #brand{
        // background-color: #fff;
        // display: flex;
        // justify-content: center;
        img{
            width: 100%;
        }
    }
}