@use './common' as *;
@use './mixin' as *;
@use './variable' as *;

#eventList{
    background-color: #fff;
    >div{
        width:$content;
        @include margin;
        padding-top: $basic*5;
        display: flex;
        justify-content: center;
        >ul{
            width: 90%;
            display: flex;
            flex-direction:column;
            border-top: 1px solid rgba(1, 1, 1, 0.1);
            li{
                border-bottom: 1px solid rgba(1, 1, 1, 0.1);
                width: 80%;
                padding: $basic*2 $basic*3;
                dl{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: $gray;
                }
            }
        }
    }
}

#event{
    background-color: #fff;
    padding-top: $basic*5;
    >div{
        width: $content;
        text-align: center;
        @include margin;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: $large;
            margin-bottom: $basic*5;
        }
        >div{
            width: 70%;
            margin-bottom: $basic*5;
            >img{
                width: 100%;
            }
        }
        >p{
            font-size: $small;
        }
    }
}


// media query
@include tablet{
    #eventList{
        background-color: #fff;
        >div{
            width:$tcontent;
            >ul{
                li{
                    width: auto;
                    padding: $basic*2 $basic*2;
                    dt{
                        font-size: $small;
                    }
                    dd{
                        width: 90%;
                    }
                    dd:last-child{
                     display: none;   
                    }
                }
            }
        }
    }
    
    #event{
        >div{
            width: $tcontent;
            h3{
                font-size: $nomal;
            }
        }
    }
}

// 모바일
@include mobile{
    #eventList{
        background-color: #fff;
        >div{
            width:$mcontent;
            margin-bottom: 50px;
            >ul{
                li{
                    width: auto;
                    padding: $basic*2 $basic*2;
                    dt{
                        font-size: 11px;
                    }
                    dd{
                        width: 90%;
                        font-size: $small;
                        line-height: 18px;
                    }
                    dd:last-child{
                     display: none;   
                    }
                }
            }
        }
    }
    
    #event{
        >div{
            width: $mcontent;
            h3{
                font-size: $small;
            }
            >p{
                margin-bottom: $basic*5;
            }
        }
    }
}